/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

@import "./media-queries.scss";

:root {
  --ion-color-primary: #355724;
  --ion-color-primary-tint: #19ce4f;
  --ion-color-primary-shade: #19ce4f;

  --ion-color-light: #ffffff;

  --brand-primary: #950098;
  --brand-secondary: #F7F7F7;
  --brand-tertiary: #767676;
  ;

}
